* {
  margin: 0px;
  padding: 0px;
}
body {
  box-sizing: border-box;
  font: 15px;
}

.maincontainer {
  max-width: 80%;
  margin: 0 auto;
}
.content {
  background-color: hsl(36, 100%, 99%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
}
.content-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 50px 0;
}
.main-section {
  grid-column: 1/3;
}

.main-section > img {
  width: 100%;
}

.main-section > div {
  display: flex;
  gap: 20px;
}

.main-section > div h1,
.main-section > div div {
  flex: 1;
}
.button {
  margin-top: 15px;
  padding: 10px 30px;
  background-color: hsl(5, 85%, 63%);
  border: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.button:hover {
  background-color: hsl(240, 100%, 5%);
}
.headline {
  font-size: xx-large;
}
.sidebar {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}
.sidebar {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(233, 8%, 79%);
}

.New {
  padding: 10px 15px;
  color: hsl(35, 77%, 62%);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: larger;
}
.line {
  height: 0.6px;
  width: 100%;
  background-color: hsl(233, 8%, 79%);
  margin: 30px 0px;
}
.side-text1 h1 {
  display: flex;
  margin: 15px 0px;
  cursor: pointer;
  color: white;
}
.side-text1 h1:hover {
  color: hsl(35, 77%, 62%);
}
.side-text2 h1 {
  display: flex;
  margin: 15px 0px;
  cursor: pointer;
  color: white;
}

.side-text2 h1:hover {
  color: hsl(35, 77%, 62%);
}
.side-test3 h1 {
  display: flex;
  margin: 15px 0px;
  cursor: pointer;
  color: white;
}
.side-test3 h1:hover {
  color: hsl(35, 77%, 62%);
}
.bottom {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.bottom-text1 {
  display: flex;
  flex: 1;
  gap: 20px;
  color: hsl(233, 8%, 79%) ;
  cursor: pointer;
}
.bottom-text1 h2{
 color: black; 
}
.bottom-text1 img {
  width: 150px;
  height: 130px;
}
.bottom-text1 h2:hover{
  color: hsl(5, 85%, 63%) ;
}
